@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");

* {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: #0D0D0D
}

::-webkit-scrollbar-thumb {
    background-color: #989CA6;
    border-radius: 8px
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: -3px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

body {
    overflow-x: hidden;
    position: relative;
    background-color: #0D0D0D;
}

.hero {
    width: 100%;
    /* height: 100%; */
    min-height: 450px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #0D0D0D;
    overflow: hidden;

}

.logo {
    margin: 70px auto;
    top: -50px;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.logo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media (max-width: 700px) {
    .logo img {
        max-width: 90%;
    }
}

nav {
    background-color: #0D0D0D;
    overflow: hidden;
}

nav ul {
    list-style: none;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav li {
    padding: 10px 20px;
}

@media (max-width: 700px) {
    nav li {
        width: 50%;
        text-align: center;
        font-size: 10px;
    }
}

nav a {
    font-weight: 700;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    position: relative;
    text-decoration: none;
}

.dark-bg {
    background-color: #010326;
    padding: 50px 50px;
}

.dark-bg img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}

.light-bg {
    background: linear-gradient(to bottom, #2d2d2d, #0D0D0D);
    padding: 50px 50px;
}

.light-bg img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}

.extra {
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
    color: #D0D2D9;
    letter-spacing: 0px;
    line-height: 27px;
}

/*linhas de banda*/
:root {
    --duration: 15s;
}

.wrapper-images {
    display: flex;
    flex-direction: column;
    height: 150vh;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    opacity: 0.8;
    transform: translate3d(-50%, -50%, 0) perspective(800px) rotatey(10deg) rotateX(-10deg);
}

.images-line {
    animation: runner var(--duration) linear infinite;
    display: flex;
    transform: translateX(23%);

    &:nth-child(even) {
        animation-duration: calc(var(--duration) * 1.5);
    }

    .line {
        background-position: 50% 50%;
        background-size: cover;
        flex: none;
        height: 25vh;
        margin: clamp(10px, 2vw, 20px);
        width: 20vh;
        position: relative;
        transition: ease-in-out all 0.3s;
        border-radius: 1rem;

        .img {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-position: 50% 50%;
            background-size: cover;
            transition: ease-in-out all 0.3s;
            overflow: hidden;
            border-radius: 1rem;
        }
    }
}

@keyframes runner {
    to {
        transform: translateX(-10.4%);
    }
}

/*linhas de banda*/


/*container de conteudo*/
.conteudo1 {
    text-align: center;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to top, #2d2d2d, #141414);
}

.conteudo2 {
    text-align: center;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    height: 500px;
}

.top-text {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #989CA6;
}

.date {
    font-size: 60px;
    font-weight: 800;
    margin: 10px 0;
    color: #D0D2D9;
}

.divider {
    width: 100%;
    height: 2px;
    background: #D0D2D9;
    margin: 20px 0;
}

.divider1 {
    width: 100%;
    height: 1px;
    background: #D0D2D9;
}

.jubilee {
    font-size: 40px;
    font-weight: 600;
    color: #D0D2D9;
}

.bottom-text {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #989CA6;
}

/*container de conteudo*/

/*home section*/

.home-section {
    z-index: 100;
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    height: 10px;
}

.home-section h1 h2 button {
    z-index: 100;
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: #0D0D0D;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
}

/*home section*/



/*conteudo do container2*/
.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) {
        left: 50%;
    }

    &:nth-child(4) {
        left: calc(50% + 220px);
    }

    &:nth-child(5) {
        left: calc(50% + 440px);
    }

    &:nth-child(6) {
        left: calc(50% + 660px);
        opacity: 0;
    }
}

.item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.505), rgba(0, 0, 0, 0));
    z-index: 1;
    border-radius: inherit;
}

.content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    z-index: 2;

    & .title {
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }

    & button {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.nav1 {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    & .btn {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid rgba(0, 0, 0, 0.6);
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

@media (width > 650px) and (width < 900px) {
    .content {
        & .title {
            font-size: 1rem;
        }

        & .description {
            font-size: 0.7rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
            opacity: 0;
        }
    }
}

@media (width < 650px) {
    .content {
        & .title {
            font-size: 0.9rem;
        }

        & .description {
            font-size: 0.65rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 140px);
        }

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
            opacity: 0;
        }
    }
}


/* Seção Artistas */


#artistas {
    padding: 20px;
    background-color: #0D0D0D;
}

#artistas h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
}

#artistas h3 {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

/* Filtro de Gêneros */
/* Container principal dos filtros */
.filtros {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Garante que se ajuste em telas menores */
    margin-bottom: 15px;
}

/* Estilo dos botões de filtro */
.genre-button,
.dropdown-button {
    background-color: #0D0D0D;
    color: white;
    border-color: #989CA6;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.genre-button:hover,
.dropdown-button:hover {
    background-color: #D0D2D9;
    transform: scale(1.05);
}

/* Alinhar dropdown ao lado dos botões */
.filtro-container {
    display: flex;
    align-items: center;
}

/* Estilizar o dropdown para parecer com os botões */
.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown estilizado */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    max-height: 250px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    z-index: 10;
}

/* Caixa de busca dentro do dropdown */
.dropdown-content input {
    width: 90%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Itens do dropdown */
.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

/* Exibir dropdown quando ativo */
.dropdown-content.show {
    display: block;
}

.lista-artistas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Distribui melhor os cards */
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    /* Evita que os cards fiquem muito espalhados */
    margin: 0 auto;
    /* Centraliza a seção */
    justify-items: center;
    /* Centraliza os cards dentro da grid */
}

/* cards artistas */
.card {
    border-radius: 25px;
    background-color: #D0D2D9;
}

.descubra-mais {
    text-align: center;
    margin-top: 20px;
}

.descubra-mais .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D0D2D9;
    color: #000000;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.descubra-mais .button:hover {
    background-color: #666666;
}


.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #989CA6;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #989CA6;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #D0D2D9;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFFFFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0D0D0D;
}

.artista .name {
    font-size: 18px;
    font-weight: 500;
    color: #ff0c0c;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 16px;
    background-color: #0D0D0D;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all .3s ease;
}

.button:hover {
    background: #666666;
}

.swiper-navBtn {
    color: #6E93F7 !important;
    transition: all .3s ease;
}

.swiper-navBtn:hover {
    color: #0D0D0D !important;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px !important;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-pagination-bullet {
    background-color: #6E93F7 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #0D0D0D !important;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none !important;
    }
}