@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*sidebar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 999;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: center;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #fff;
}

.sidebar .bx-search:hover {
    background: #fff;
    color: #11101D;
}

.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #fff;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}

.sidebar li a:hover {
    background: #fff;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

/*sidebar*/


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #12212f;
}

.metronome {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    justify-content: space-between;
}

.bpm-display {
    width: 100%;
    text-align: center;
    color: #fa545c;
    font-weight: bold;
}

.bpm-display .tempo {
    font-size: 4em;
}

.tempo-text {
    font-size: .8em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.tempo-settings {
    display: flex;
    justify-content: space-between;
}

.tempo-settings .adjust-tempo-btn {
    width: 30px;
    height: 30px;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
    background: #fa545c;
    color: #fff;
}

.tempo-settings .decrease-tempo {
    line-height: 25px;
}

.tempo-settings .increase-tempo {
    line-height: 32px;
}

.increase-tempo {
    color: white; /* Deixa o texto/brilho do botão branco */
}

.subtract-beats , .add-beats , .decrease-tempo{
    color: white; /* Fundo branco */
}



input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 70%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    margin-top: -8px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

.start-stop {
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    text-align: center;
    background: #fa545c;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.start-stop:hover {
    background: #ff656c;
}

.measures {
    display: flex;
    justify-content: center;
}

.measure-count{
    color: #ffffff;
}



.measures .stepper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.measures .stepper:hover {
    background: #ff656c;
    color: #fff;
}

.measures .add-beats {
    line-height: 20px;
}

.beats-per-measure-text {
    text-align: center;
    font-size: 0.5em;
    text-transform: uppercase;
    color: #ffffff;
}

body.dark-mode {
    background-color: #333;
    color: #f1f1f1;
}

.metronome.dark-mode {
    background-color: #444;
    border-color: #666;
}

.bpm-display.dark-mode .tempo {
    color: #ff656c;
}

.tempo-text.dark-mode,
.beats-per-measure-text.dark-mode {
    color: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
    background: #ff656c;
}

input[type="range"]::-moz-range-thumb {
    background: #ff656c;
}

.start-stop.dark-mode {
    background: #ff656c;
}

.start-stop.dark-mode:hover {
    background: #fa545c;
}

.measures .stepper.dark-mode {
    background: #555;
    border: 1px solid #666;
}

.measures .stepper.dark-mode:hover {
    background: #ff656c;
    color: #fff;
}