<footer>
    <div class="content1">
        <div class="top">
            <div class="logo-details">
                <i class="fab fa-slack"></i>
                <span class="logo_name">Tocaí</span>
            </div>

            <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="link-boxes">
            <ul class="box">
                <li class="link_name">Aprenda</li>
                <li><a href="../cifra/cifra.html">Cifra & Acordes</a></li>
                <li><a href="../tutoriais/tutoriais.html">Vídeos & Tutoriais</a></li>
                <li><a href="../teoria/teoria.html">Teoria Musical</a></li>
                <li><a href="../estudio/estudio.html">Estúdio Online</a></li>
                <li><a href="../bandaeartistas/bandasEartistas.html">Bandas & Artistas</a></li>
            </ul>
            <ul class="box">
                <li class="link_name">Ferramentas</li>
                <li><a href="../estudio/gravador/gravador.html">Gravador</a></li>
                <li><a href="../estudio/mapa/mapa.html">Mapa de Acordes</a></li>
                <li><a href="../estudio/metronomo/index.html">Metrônomo</a></li>
                <li><a href="../estudio/tuner-master/app/index.html">Afinador</a></li>
                <li><a href="../estudio/tab/tab.html">Gerador de Tabs</a></li>
            </ul>
            <ul class="box">
                <li class="link_name">Conta</li>
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Minha conta</a></li>
                <li><a href="#">Preferências</a></li>
                <li><a href="#">Compra</a></li>
            </ul>
            <ul class="box">
                <li class="link_name">Sobre o Site</li>
                <li><a href="#">HTML & CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">Fotografia</a></li>
                <li><a href="#">Photoshop</a></li>
            </ul>
            <ul class="box input-box">
                <li class="link_name">Inscreva-se</li>
                <li><input type="text" placeholder="Digite seu e-mail"></li>
                <li><input type="button" value="Inscrever-se"></li>
            </ul>
        </div>
    </div>
    <div class="divider1"></div>
    <div class="bottom-details">
        <div class="bottom_text">
            <span class="copyright_text">Copyright © 2025 <a href="#">Tocaí.</a> Todos os direitos reservados</span>
            <span class="policy_terms">
                <a href="#">Política de privacidade</a>
                <a href="#">Termos e condições</a>
            </span>
        </div>
    </div>
</footer>