<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">Tocaí</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Pesquisar músicas...">
            <span class="tooltip">Pesquisar</span>
        </li>
        <li>
            <a href="../pages/home.html">
                <i class='bx bx-home'></i>
                <span class="links_name">Início</span>
            </a>
            <span class="tooltip">Início</span>
        </li>
        <li>
            <a href="../pages/estudio.html">
                <i class='bx bx-headphone'></i>
                <span class="links_name">Tocaí Studio</span>
            </a>
            <span class="tooltip">Tocaí Studio</span>
        </li>
        <li>
            <a href="../pages/artistasEbandas.html">
                <i class='bx bx-group'></i>
                <span class="links_name">Artistas & Bandas</span>
            </a>
            <span class="tooltip">Artistas & Bandas</span>
        </li>
        <li>
            <a href="../pages/player.html">
                <i class='bx bx-play-circle'></i>
                <span class="links_name">Tocaí Play</span>
            </a>
            <span class="tooltip">Tocaí Play</span>
        </li>
        <li>
            <a href="../pages/cifra.html">
                <i class='bx bx-music'></i>
                <span class="links_name">Cifras & Acordes</span>
            </a>
            <span class="tooltip">Cifras & Acordes</span>
        </li>
        <li>
            <a href="../pages/tutoriais.html">
                <i class='bx bx-movie'></i>
                <span class="links_name">Vídeos & Tutoriais</span>
            </a>
            <span class="tooltip">Vídeos & Tutoriais</span>
        </li>
        <li>
            <a href="../pages/teoria.html">
                <i class='bx bx-book-open'></i>
                <span class="links_name">Teoria Musical</span>
            </a>
            <span class="tooltip">Teoria Musical</span>
        </li>
        <li>
            <a href="../pages/config.html">
                <i class='bx bx-cog'></i>
                <span class="links_name">Configurações</span>
            </a>
            <span class="tooltip">Configurações</span>
        </li>
        <li class="site-version">
            <div class="version-details">
                <img src="../imagens/LogoTocaí.png" alt="Imagem de perfil">
                <div class="text">
                    <div class="name">Tocaí</div>
                    <div class="version-number">Versão v1.0.0</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>

